<!DOCTYPE html>
<html>
<head>
    <title>Blockchain</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<script>

    function makeAlert(){
        alert("start mine");
    }

    function makeAlert1(){
        alert("stop mine");
    }

</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blockchain</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:8080/blocks">Blocks</a></li>
                <li><a href="http://localhost:8080/wallet">Wallet</a></li>
                <li><a href="http://localhost:8080/transactions">Transactions</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Signup  <i class="fa fa-user-plus"></i></a></li>
              <li><a href="#about">Login  <i class="fa fa-user"></i></a></li>
            </ul> -->
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <br></br>
                <br></br>
                <h2>Welcome to the blockchain world!</h2>
                <hr>
                <a href="http://localhost:8080/startmine"><button id = "bbb div-button" class="btn btn-default btn-lg" onclick="makeAlert()"><i class="fa fa-hand-o-up" aria-hidden="true"></i>Start Mine  </button></a>

                <a href="http://localhost:8080/makeTransact"><button id = "bbb div-button" class="btn btn-default btn-lg" ><i class="fa fa-hand-o-up" aria-hidden="true"></i>Make Transaction  </button></a>

                <a href="http://localhost:8080/stopmine"><button id = "bbb div-button" class="btn btn-default btn-lg" onclick="makeAlert1()"><i class="fa fa-hand-o-up" aria-hidden="true"></i> Stop Mine </button></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>